@import "base/_variables.css";
@import "components/import-components.css";

body {
    display: block;
    padding: 0;
    margin: 0;    
    background: gray;
}

.cont-main {
    display: flex;
    padding: 2.4vh;
    gap: 2.4vh
}

h1 {
    text-align: center;
}